.main-layout{
    background-image: url(https://guviblogs.files.wordpress.com/2013/07/1440_programmer-table.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.form-layout{
    background-image: url(./assets/jess-bailey-l3N9Q27zULw-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


